<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
            android:name="android.permission.READ_CLIPBOARD_IN_BACKGROUND"
            tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
            android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/> <!-- 互联网权限 - 如果您使用 MediaPlayer 流式播放基于网络的内容，则您的应用必须申请网络访问权限。 -->
    <uses-permission
            android:name="android.permission.INTERNET"/> <!-- 唤醒锁定权限 - 如果播放器应用需要防止屏幕变暗或处理器进入休眠状态，或者要使用 MediaPlayer.setScreenOnWhilePlaying() 或 MediaPlayer.setWakeMode() 方法，则您必须申请此权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_logo"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_logo_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.HelloWorld"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">
        <activity
                android:name=".game.GameActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".music.MusicListActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".video.VideoListActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity> <!-- android:networkSecurityConfig="@xml/network_permission_config" -->
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".music.MusicActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".video.VideoActivity"
                android:exported="true"
                android:screenOrientation="landscape"
                android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.snrt.helloworld.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths">
            </meta-data>
        </provider>
    </application>

</manifest>